:root {
  --clr-light: #fcfbfc;
  --clr-dark: #343434;
  --clr-hover: #e8e8e8;
  --clr-active: #b3b0b0;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);
}

:root.main-color {
  --clr-light: #fcfbfc;
  --clr-dark: #343434;
  --clr-hover: #e8e8e8;
  --clr-active: #b3b0b0;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);
}

:root.alt-color {
  --clr-light: #fcfbfc;
  --clr-dark: #343434;
  --clr-hover: #444444;
  --clr-active: #5f5f5f;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-light: #fcfbfc;
    --clr-dark: #343434;
    --clr-hover: #444444;
    --clr-active: #5f5f5f;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
  }

  :root.main-color {
    --clr-light: #fcfbfc;
    --clr-dark: #343434;
    --clr-hover: #444444;
    --clr-active: #5f5f5f;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);
  }

  :root.alt-color {
    --clr-light: #fcfbfc;
    --clr-dark: #343434;
    --clr-hover: #e8e8e8;
    --clr-active: #b3b0b0;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);
  }
}

body {
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: var(--foreground);
}

.content-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  margin: 0 auto;
}

.theme-switch {
  margin: 0;
  margin-left: auto;
  color: var(--foreground);
}

.theme-switch:hover {
  cursor: pointer;
}

.new-task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.new-task-form label {
  font-weight: 700;
}

.new-task-form input {
  border: 1px solid var(--foreground);
  background-color: var(--background);
  height: 25px;
  width: 250px;
  padding: 0 5px;
  margin: 0;
  font-size: 15px;
  color: var(--foreground);
}

.new-task-form button {
  background: none;
  background-color: var(--background);
  border: 1px solid var(--foreground);
  height: 27px;
  padding: 0 5px;
  margin: 0;
  font-size: 15px;
  color: var(--foreground);
}

.new-task-form button:hover {
  background-color: var(--clr-hover);
}

.new-task-form button:active {
  background-color: var(--clr-active);
}

.utilities {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

#filter-content {
  max-width: 120px;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task {
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border: 1px solid var(--foreground);
  align-items: center;
}

.task p {
  word-wrap: break-word;
}

.task .checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--background);
  border: 1px var(--foreground) solid;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.task .checkbox:hover {
  background-color: var(--clr-hover);
}

.task .checkbox:checked {
  background-color: var(--background);
  border: 1px var(--foreground) solid;
}

.task .checkbox:checked::before {
  content: '';
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  width: 15px;
  height: 15px;
  background-color: var(--foreground);
  border-radius: 4px;
}

.task .checkbox:checked:hover::before {
  background-color: var(--foreground);
}

.edit-button {
  background: padding-box transparent;
  border: 1px solid var(--foreground);
  width: 30px;
  height: 30px;
  color: var(--foreground);
  padding: 0;
  margin-left: auto;
}

.edit-button:hover {
  background-color: var(--clr-hover);
}

.edit-button:active {
  background-color: var(--clr-active);
}

.input-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.edit-input {
  background-color: var(--background);
  border: 1px solid var(--foreground);
  height: 25px;
  width: 250px;
  padding: 0 5px;
  margin: 0;
  font-size: 15px;
  color: var(--foreground);
}

.confirm-button {
  background: padding-box transparent;
  border: 1px solid var(--foreground);
  width: 30px;
  height: 30px;
  color: var(--foreground);
  padding: 0;
  margin-left: auto;
}

.confirm-button:hover {
  background-color: var(--clr-hover);
}

.confirm-button:active {
  background-color: var(--clr-active);
}

.delete-button {
  background: padding-box transparent;
  border: 1px solid var(--foreground);
  width: 30px;
  height: 30px;
  color: var(--foreground);
  padding: 0;
}

.delete-button:hover {
  background-color: var(--clr-hover);
}

.delete-button:active {
  background-color: var(--clr-active);
}

#clear-completed {
  background-color: var(--background);
  padding: 1px 5px;
  border: 1px solid var(--foreground);
  color: var(--foreground);
}

#clear-completed:hover {
  background-color: var(--clr-hover);
}

#clear-completed:active {
  background-color: var(--clr-active);
}
