body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.content-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  margin: 0 auto;
}

.new-task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.new-task-form label {
  font-weight: 700;
}

.new-task-form input {
  border: 1px solid black;
  height: 25px;
  width: 250px;
  padding: 0 5px;
  margin: 0;
  font-size: 15px;
}

.new-task-form button {
  background: none;
  border: 1px solid black;
  height: 27px;
  padding: 0 5px;
  margin: 0;
  font-size: 15px;
}

.new-task-form button:hover {
  background-color: #e8e8e8;
}

.new-task-form button:active {
  background-color: #b3b0b0;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task {
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  border: 1px solid black;
  align-items: center;
}

.task .checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px black solid;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.task .checkbox:hover {
  background-color: #e8e8e8;
}

.task .checkbox:checked {
  background-color: white;
  border: 1px black solid;
}

.task .checkbox:checked::before {
  content: '';
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  width: 15px;
  height: 15px;
  background-color: #36a5ff;
  border-radius: 4px;
}

.task .checkbox:checked:hover::before {
  background-color: #0088f7;
}

.delete-button {
  background: padding-box transparent url(../images/bin.svg) no-repeat center center;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin-left: auto;
}

.delete-button:hover {
  background-color: #e8e8e8;
}

.delete-button:active {
  background-color: #b3b0b0;
}
